{#{%if i==1%}
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_1" class="form-control" style="text-align: center;" readonly ></textarea></td>
<script type="text/javascript">
    document.getElementById("mes_{{lst2.cod_tablero}}_1").value ='{{lst2.tab_ene}}' ;
</script>
{%elseif i==2%}
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_1" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_2" class="form-control" style="text-align: center;" readonly ></textarea></td>
<script type="text/javascript">
    document.getElementById("mes_{{lst2.cod_tablero}}_1").value ='{{lst2.tab_ene}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_2").value ='{{lst2.tab_feb}}' ;
</script>
{%elseif i==3%}
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_1" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_2" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_3" class="form-control" style="text-align: center;" readonly ></textarea></td>
<script type="text/javascript">
    document.getElementById("mes_{{lst2.cod_tablero}}_1").value ='{{lst2.tab_ene}}';
    document.getElementById("mes_{{lst2.cod_tablero}}_2").value ='{{lst2.tab_feb}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_3").value ='{{lst2.tab_mar}}' ;
</script>
{%elseif i==4%}
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_1" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_2" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_3" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_4" class="form-control" style="text-align: center;" readonly ></textarea></td>
<script type="text/javascript">
    document.getElementById("mes_{{lst2.cod_tablero}}_1").value ='{{lst2.tab_ene}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_2").value ='{{lst2.tab_feb}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_3").value ='{{lst2.tab_mar}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_4").value ='{{lst2.tab_abr}}' ;
</script>
{%elseif i==5%}
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_1" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_2" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_3" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_4" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_5" class="form-control" style="text-align: center;" readonly ></textarea></td>
<script type="text/javascript">
    document.getElementById("mes_{{lst2.cod_tablero}}_1").value ='{{lst2.tab_ene}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_2").value ='{{lst2.tab_feb}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_3").value ='{{lst2.tab_mar}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_4").value ='{{lst2.tab_abr}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_5").value ='{{lst2.tab_may}}' ;
</script>
{%elseif i==6%}
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_1" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_2" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_3" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_4" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_5" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_6" class="form-control" style="text-align: center;" readonly ></textarea></td>
<script type="text/javascript">
    document.getElementById("mes_{{lst2.cod_tablero}}_1").value ='{{lst2.tab_ene}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_2").value ='{{lst2.tab_feb}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_3").value ='{{lst2.tab_mar}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_4").value ='{{lst2.tab_abr}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_5").value ='{{lst2.tab_may}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_6").value ='{{lst2.tab_jun}}' ;
</script>
{%elseif i==7%}
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_1" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_2" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_3" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_4" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_5" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_6" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_7" class="form-control" style="text-align: center;" readonly ></textarea></td>
<script type="text/javascript">
    document.getElementById("mes_{{lst2.cod_tablero}}_1").value ='{{lst2.tab_ene}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_2").value ='{{lst2.tab_feb}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_3").value ='{{lst2.tab_mar}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_4").value ='{{lst2.tab_abr}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_5").value ='{{lst2.tab_may}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_6").value ='{{lst2.tab_jun}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_7").value ='{{lst2.tab_jul}}' ;
</script>
{%elseif i==8%}
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_1" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_2" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_3" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_4" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_5" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_6" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_7" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_8" class="form-control" style="text-align: center;" readonly ></textarea></td>
<script type="text/javascript">
    document.getElementById("mes_{{lst2.cod_tablero}}_1").value ='{{lst2.tab_ene}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_2").value ='{{lst2.tab_feb}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_3").value ='{{lst2.tab_mar}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_4").value ='{{lst2.tab_abr}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_5").value ='{{lst2.tab_may}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_6").value ='{{lst2.tab_jun}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_7").value ='{{lst2.tab_jul}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_8").value ='{{lst2.tab_ago}}' ;
</script>
{%elseif i==9%}
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_1" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_2" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_3" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_4" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_5" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_6" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_7" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_8" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_9" class="form-control" style="text-align: center;" readonly ></textarea></td>
<script type="text/javascript">
    document.getElementById("mes_{{lst2.cod_tablero}}_1").value ='{{lst2.tab_ene}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_2").value ='{{lst2.tab_feb}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_3").value ='{{lst2.tab_mar}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_4").value ='{{lst2.tab_abr}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_5").value ='{{lst2.tab_may}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_6").value ='{{lst2.tab_jun}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_7").value ='{{lst2.tab_jul}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_8").value ='{{lst2.tab_ago}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_9").value ='{{lst2.tab_sep}}' ;
</script>
{%elseif i==10%}
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_1" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_2" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_3" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_4" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_5" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_6" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_7" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_8" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_9" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_10" class="form-control" style="text-align: center;" readonly ></textarea></td>
<script type="text/javascript">
    document.getElementById("mes_{{lst2.cod_tablero}}_1").value ='{{lst2.tab_ene}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_2").value ='{{lst2.tab_feb}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_3").value ='{{lst2.tab_mar}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_4").value ='{{lst2.tab_abr}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_5").value ='{{lst2.tab_may}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_6").value ='{{lst2.tab_jun}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_7").value ='{{lst2.tab_jul}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_8").value ='{{lst2.tab_ago}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_9").value ='{{lst2.tab_sep}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_10").value ='{{lst2.tab_oct}}' ;
</script>
{%elseif i==11%}
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_1" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_2" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_3" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_4" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_5" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_6" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_7" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_8" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_9" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_10" class="form-control" style="text-align: center;" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_11" class="form-control" style="text-align: center;" readonly ></textarea></td>
<script type="text/javascript">
    document.getElementById("mes_{{lst2.cod_tablero}}_1").value ='{{lst2.tab_ene}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_2").value ='{{lst2.tab_feb}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_3").value ='{{lst2.tab_mar}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_4").value ='{{lst2.tab_abr}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_5").value ='{{lst2.tab_may}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_6").value ='{{lst2.tab_jun}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_7").value ='{{lst2.tab_jul}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_8").value ='{{lst2.tab_ago}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_9").value ='{{lst2.tab_sep}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_10").value ='{{lst2.tab_oct}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_11").value ='{{lst2.tab_nov}}' ;
</script>
{%else%}#}
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_1" class="form-control" style="text-align: center;height: 200px" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_2" class="form-control" style="text-align: center;height: 200px" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_3" class="form-control" style="text-align: center;height: 200px" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_4" class="form-control" style="text-align: center;height: 200px" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_5" class="form-control" style="text-align: center;height: 200px" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_6" class="form-control" style="text-align: center;height: 200px" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_7" class="form-control" style="text-align: center;height: 200px" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_8" class="form-control" style="text-align: center;height: 200px" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_9" class="form-control" style="text-align: center;height: 200px" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_10" class="form-control" style="text-align: center;height: 200px" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_11" class="form-control" style="text-align: center;height: 200px" readonly ></textarea></td>
<td><textarea type="text" id="mes_{{lst2.cod_tablero}}_12" class="form-control" style="text-align: center;height: 200px" readonly ></textarea></td>
<script type="text/javascript">
    document.getElementById("mes_{{lst2.cod_tablero}}_1").value ='{{lst2.tab_ene}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_2").value ='{{lst2.tab_feb}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_3").value ='{{lst2.tab_mar}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_4").value ='{{lst2.tab_abr}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_5").value ='{{lst2.tab_may}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_6").value ='{{lst2.tab_jun}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_7").value ='{{lst2.tab_jul}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_8").value ='{{lst2.tab_ago}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_9").value ='{{lst2.tab_sep}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_10").value ='{{lst2.tab_oct}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_11").value ='{{lst2.tab_nov}}' ;
    document.getElementById("mes_{{lst2.cod_tablero}}_12").value ='{{lst2.tab_dic}}' ;
</script>
{#{%endif%}  #}